<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>@ViewData["Title"] | Stora Teknoloji  Yöneticisi</title>
    <meta name="robots" content="noindex, follow" />
    <meta name="description" content="@ViewData["Description"]">
    <!-- plugins:css -->
    <link rel="stylesheet" href="~/admindosya/assets/vendors/mdi/css/materialdesignicons.min.css">
    <link rel="stylesheet" href="~/admindosya/assets/vendors/css/vendor.bundle.base.css">
    <!-- endinject -->
    <!-- Plugin css for this page -->
    <link rel="stylesheet" href="~/admindosya/assets/vendors/jvectormap/jquery-jvectormap.css">
    <link rel="stylesheet" href="~/admindosya/assets/vendors/flag-icon-css/css/flag-icon.min.css">
    <link rel="stylesheet" href="~/admindosya/assets/vendors/owl-carousel-2/owl.carousel.min.css">
    <link rel="stylesheet" href="~/admindosya/assets/vendors/owl-carousel-2/owl.theme.default.min.css">
    <!-- End plugin css for this page -->
    <!-- inject:css -->
    <!-- endinject -->
    <!-- Layout styles -->
    <link rel="stylesheet" href="~/admindosya/assets/css/style.css">
    <!-- End layout styles -->
    <link rel="shortcut icon" href="~/admindosya/assets/images/favicon.png" />
@*    <link rel="shortcut icon" type="image/x-icon" href="assets/images/favicon.ico">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/bootstrap.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/material-design-iconic-font.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/font-awesome.min.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/themify-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/vendor/cryptocurrency-icons.css">
    <link rel="stylesheet" href="~/admin/assets/css/plugins/plugins.css">
    <link rel="stylesheet" href="~/admin/assets/css/helper.css">
    <link rel="stylesheet" href="~/admin/assets/css/style.css">
    <link id="cus-style" rel="stylesheet" href="~/admin/assets/css/style-primary.css">*@
</head>
<body>
    @*<div class="main-wrapper">
        <div class="header-section">
            <div class="container-fluid">
                <div class="row justify-content-between align-items-center">
                    <div class="header-logo col-auto">
                        <a asp-controller="Home" asp-action="Index" asp-area="">
                            <img src="~/ba_logo.png" />
                        </a>
                    </div>
                    <div class="header-right flex-grow-1 col-auto">
                        <div class="row justify-content-between align-items-center">
                            <div class="col-auto">
                                <div class="row align-items-center">
                                    <div class="col-auto"><button class="side-header-toggle"><i class="zmdi zmdi-menu"></i></button></div>
                                </div>
                            </div>
                            <div class="col-auto">
                                <ul class="header-notification-area">
                                    <li class="adomx-dropdown col-auto">
                                        <a class="toggle" href="#">
                                            <span class="user">
                                                <span class="avatar">
                                                    <img src="@User.Claims.FirstOrDefault(c => c.Type.EndsWith("Image")).Value.ToString()" alt="">
                                                    <span class="status"></span>
                                                </span>
                                                <span class="name">@User.Claims.FirstOrDefault(c => c.Type.EndsWith("emailaddress")).Value</span>
                                            </span>
                                        </a>
                                        <div class="adomx-dropdown-menu dropdown-menu-user">
                                            <div class="body">
                                                <ul>
                                                    <li><a asp-controller="Account" asp-action="Logout" asp-area=""><i class="zmdi zmdi-account"></i>Çıkış Yap</a></li>
                                                </ul>
                                            </div>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="side-header show">
            <button class="side-header-close"><i class="zmdi zmdi-close"></i></button>
            <div class="side-header-inner custom-scroll">
                <nav class="side-header-menu" id="side-header-menu">
                    <ul>
                        <li><a asp-area="Admin" asp-controller="Home" asp-action="Index"><i class="ti-home"></i> <span>Anasayfa</span></a></li>
                        <li><a asp-area="Admin" asp-controller="Category" asp-action="Index"><i class="ti-palette"></i> <span>Kategoriler</span></a></li>
                        <li><a asp-area="Admin" asp-controller="User" asp-action="Index"><i class="ti-palette"></i> <span>Kullanıcılar</span></a></li>
                        <li><a asp-area="Admin" asp-controller="Product" asp-action="Index"><i class="ti-palette"></i> <span>Ürünler</span></a></li>
                        <li><a asp-area="Admin" asp-controller="Brand" asp-action="Index"><i class="ti-palette"></i> <span>Markalar</span></a></li>
                        <li><a asp-area="Admin" asp-controller="Currency" asp-action="Index"><i class="ti-palette"></i> <span>Para Birimi</span></a></li>
                        <li><a asp-area="Admin" asp-controller="Country" asp-action="Index"><i class="ti-palette"></i> <span>Ülke</span></a></li>
                        <li><a asp-area="Admin" asp-controller="ProductDetail" asp-action="Index"><i class="ti-palette"></i> <span>Ürün Detayı</span></a></li>
                        <li><a asp-area="Admin" asp-controller="ProductImage" asp-action="Index"><i class="ti-palette"></i> <span>Ürün Resmi</span></a></li>
                        <li><a asp-area="Admin" asp-controller="Location" asp-action="Index"><i class="ti-palette"></i> <span>Location</span></a></li>
                        <li><a asp-area="Admin" asp-controller="ProductPrice" asp-action="Index"><i class="ti-palette"></i> <span>Ürün Fiyatı</span></a></li>
                    </ul>
                </nav>
            </div>
        </div>
        @RenderBody()
        <div class="footer-section">
            <div class="container-fluid">
                <div class="footer-copyright text-center">
                    <p class="text-body-light">2019 &copy; Anıl Yamaner First Project!</p>
                </div>
            </div>
        </div>
    </div>*@
     
    <div class="container-scroller">
      <!-- partial:partials/_sidebar.html -->
      <nav class="sidebar sidebar-offcanvas" id="sidebar">
        <div class="sidebar-brand-wrapper d-none d-lg-flex align-items-center justify-content-center fixed-top">
          <a class="sidebar-brand brand-logo" href="index.html"><img src="~/admindosya/assets/images/logo.svg" alt="logo" /></a>
          <a class="sidebar-brand brand-logo-mini" href="index.html"><img src="~/admindosya/assets/images/logo-mini.svg" alt="logo" /></a>
        </div>
        <ul class="nav">
          <li class="nav-item profile">
            <div class="profile-desc">
              <div class="profile-pic">
                <div class="count-indicator">
                                <img class="img-xs rounded-circle " src="~/admindosya/assets/images/faces/face15.jpg" alt="">
                  <span class="count bg-success"></span>
                </div>
                <div class="profile-name">
                                <h5 class="name">@User.Claims.FirstOrDefault(c => c.Type.EndsWith("emailaddress")).Value</h5>
                  <span>Admin Kullanıcısı</span>
                </div>
              </div>
              <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
              <div class="dropdown-menu dropdown-menu-right sidebar-dropdown preview-list" aria-labelledby="profile-dropdown">
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-settings text-primary"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Account settings</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-onepassword  text-info"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">Change Password</p>
                  </div>
                </a>
                <div class="dropdown-divider"></div>
                <a href="#" class="dropdown-item preview-item">
                  <div class="preview-thumbnail">
                    <div class="preview-icon bg-dark rounded-circle">
                      <i class="mdi mdi-calendar-today text-success"></i>
                    </div>
                  </div>
                  <div class="preview-item-content">
                    <p class="preview-subject ellipsis mb-1 text-small">To-do list</p>
                  </div>
                </a>
              </div>
            </div>
          </li>

                <li class="nav-item menu-items">
                    <a class="nav-link" asp-area="Admin" asp-controller="User" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-playlist-play"></i>
                        </span>

                        <span class="menu-title">User</span>
                    </a>
                </li>
                <li class="nav-item menu-items">
                    <a class="nav-link" asp-area="Admin" asp-controller="Category" asp-action="Index">
                        <span class="menu-icon">
                            <i class="mdi mdi-playlist-play"></i>
                        </span>

                        <span class="menu-title">Categori</span>
                    </a>
                </li>
          <li class="nav-item menu-items">
            <a class="nav-link" asp-area="Admin" asp-controller="Product" asp-action="Index">
              <span class="menu-icon">
                <i class="mdi mdi-playlist-play"></i>
              </span>

              <span class="menu-title">Ürünler</span>
            </a>
          </li>
               <li class="nav-item menu-items">
                <a class="nav-link" asp-area="Admin" asp-controller="Brand" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-playlist-play"></i>
                    </span>

                    <span class="menu-title">Marka</span>
                </a>
                </li>
         
               <li class="nav-item menu-items">
                <a class="nav-link" asp-area="Admin" asp-controller="Currency" asp-action="Index">
                    <span class="menu-icon">
                        <i class="mdi mdi-playlist-play"></i>
                    </span>

                    <span class="menu-title">Para Birimi</span>
                </a>
                </li>
        </ul>       
      </nav>

       
      <!-- partial -->
      <div class="container-fluid page-body-wrapper">
        <!-- partial:partials/_navbar.html -->
        <nav class="navbar p-0 fixed-top d-flex flex-row">
          <div class="navbar-brand-wrapper d-flex d-lg-none align-items-center justify-content-center">
                    <a class="navbar-brand brand-logo-mini" href="index.html"><img src="~/admindosya/assets/images/user.jpgassets/images/logo-mini.svg" alt="logo" /></a>
          </div>
          <div class="navbar-menu-wrapper flex-grow d-flex align-items-stretch">
            <button class="navbar-toggler navbar-toggler align-self-center" type="button" data-toggle="minimize">
              <span class="mdi mdi-menu"></span>
            </button>
            <ul class="navbar-nav w-100">
              <li class="nav-item w-100">
             
              </li>
            </ul>
            <ul class="navbar-nav navbar-nav-right">
     
   

              <li class="nav-item dropdown">
                <a class="nav-link" id="profileDropdown" href="#" data-toggle="dropdown">
                  <div class="navbar-profile">
                    <img class="img-xs rounded-circle" src="~/admindosya/assets/images/faces/face15.jpg" alt="">
                                    <p class="name">@User.Claims.FirstOrDefault(c => c.Type.EndsWith("emailaddress")).Value</p>
                    <i class="mdi mdi-menu-down d-none d-sm-block"></i>
                  </div>
                </a>
                <div class="dropdown-menu dropdown-menu-right navbar-dropdown preview-list" aria-labelledby="profileDropdown">
                  
                  <div class="dropdown-divider"></div>
                  
                  <div class="dropdown-divider"></div>
                   <a class="dropdown-item preview-item" asp-controller="Account" asp-action="Logout" asp-area="">
                    <div class="preview-thumbnail">
                      <div class="preview-icon bg-dark rounded-circle">
                        <i class="mdi mdi-logout text-danger"></i>
                      </div>
                    </div>
                    <div class="preview-item-content">
                      <p class="preview-subject mb-1">Log out</p>
                    </div>
                  </a>
                
                </div>
              </li>
            </ul>
            <button class="navbar-toggler navbar-toggler-right d-lg-none align-self-center" type="button" data-toggle="offcanvas">
              <span class="mdi mdi-format-line-spacing"></span>
            </button>
          </div>
        </nav>
        <!-- partial -->

        <div class="main-panel">
       
        <!-- content-wrapper ends -->
                @RenderBody()
          <!-- partial:partials/_footer.html -->
          <footer class="footer">
            <div class="d-sm-flex justify-content-center justify-content-sm-between">
              <span class="text-muted d-block text-center text-sm-left d-sm-inline-block">Copyright © bootstrapdash.com 2020</span>
              <span class="float-none float-sm-right d-block mt-1 mt-sm-0 text-center"> Free <a href="https://www.bootstrapdash.com/bootstrap-admin-template/" target="_blank">Bootstrap admin templates</a> from Bootstrapdash.com</span>
            </div>
          </footer>
          <!-- partial -->
        </div>
        <!-- main-panel ends -->
      </div>
      <!-- page-body-wrapper ends -->
    </div>
    <!-- container-scroller -->
  @*  <script src="~/admin/assets/js/vendor/modernizr-3.6.0.min.js"></script>
    <script src="~/admin/assets/js/vendor/jquery-3.3.1.min.js"></script>
    <script src="~/admin/assets/js/vendor/popper.min.js"></script>
    <script src="~/admin/assets/js/vendor/bootstrap.min.js"></script>
    <script src="~/admin/assets/js/plugins/perfect-scrollbar.min.js"></script>
    <script src="~/admin/assets/js/plugins/tippy4.min.js.js"></script>
    <script src="~/admin/assets/js/main.js"></script>
    <script src="~/admin/assets/js/plugins/moment/moment.min.js"></script>
    <script src="~/admin/assets/js/plugins/daterangepicker/daterangepicker.js"></script>
    <script src="~/admin/assets/js/plugins/daterangepicker/daterangepicker.active.js"></script>
    <script src="~/admin/assets/js/plugins/chartjs/Chart.min.js"></script>
    <script src="~/admin/assets/js/plugins/chartjs/chartjs.active.js"></script>
    <script src="~/admin/assets/js/plugins/vmap/jquery.vmap.min.js"></script>
    <script src="~/admin/assets/js/plugins/vmap/maps/jquery.vmap.world.js"></script>
    <script src="~/admin/assets/js/plugins/vmap/maps/samples/jquery.vmap.sampledata.js"></script>
    <script src="~/admin/assets/js/plugins/vmap/vmap.active.js"></script>*@
    <script src="~/admindosya/assets/vendors/js/vendor.bundle.base.js"></script>
    <!-- endinject -->
    <!-- Plugin js for this page -->
    <script src="~/admindosya/assets/vendors/chart.js/Chart.min.js"></script>
    <script src="~/admindosya/assets/vendors/progressbar.js/progressbar.min.js"></script>
    <script src="~/admindosya/assets/js/assets/vendors/jvectormap/jquery-jvectormap.min.js"></script>
    <script src="~/admindosya/assets/vendors/jvectormap/jquery-jvectormap-world-mill-en.js"></script>
    <script src="~/admindosya/assets/vendors/owl-carousel-2/owl.carousel.min.js"></script>
    <!-- End plugin js for this page -->
    <!-- inject:js -->
    <script src="~/admindosya/assets/js/off-canvas.js"></script>
    <script src="~/admindosya/assets/js/hoverable-collapse.js"></script>
    <script src="~/admindosya/assets/js/misc.js"></script>
    <script src="~/admindosya/assets/js/settings.js"></script>
    <script src="~/admindosya/assets/js/todolist.js"></script>
    <!-- endinject -->
    <!-- Custom js for this page -->
    <script src="~/admindosya/assets/js/dashboard.js"></script>
    <!-- End custom js for this page -->
    @RenderSection("scripts", required: false)
</body>
</html>
