@using AnılBurakYamaner_Proje.Common.Dtos.Cart;
@using AnılBurakYamaner_Proje.Web.UI.Infrastructure.Helpers;
@using AnılBurakYamaner_Proje.Common.Dtos.Category;
@using Microsoft.AspNetCore.Http;

@inject ICartHelper _iCartHelper
@inject IHttpContextAccessor _httpContextAccessor;

@{
    var categories = _iCartHelper.GetCategories();
    var cart = new CartResponseDto();

    cart = _iCartHelper.GetActiveCart(_httpContextAccessor, User);

    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    @*<link rel="stylesheet" type="text/css" href="~/blog/css/animate.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/css/line-awesome.min.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/css/all.min.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/js/lib/slick/slick.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/js/lib/slick/slick-theme.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/css/style.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/css/responsive.css" />
    <link rel="stylesheet" type="text/css" href="~/blog/css/color.css" />*@
    <!-- Google Fonts -->
    <link href='http://fonts.googleapis.com/css?family=Titillium+Web:400,200,300,700,600' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Roboto+Condensed:400,700,300' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Raleway:400,100' rel='stylesheet' type='text/css'>
    <!-- Font Awesome -->
    <link rel="stylesheet" href="~/css/font-awesome.min.css">

    @*<link rel="stylesheet" href="~/css/bootstrap.min.css">*@
   @* <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/css/bootstrap.min.css"> *@
   <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/css/bootstrap.min.css" integrity="sha384-xOolHFLEh07PJGoPkLv1IbcEPTNtaed2xpHsD9ESMhqIYd0nLMwNLD69Npy4HI+N" crossorigin="anonymous">
    <link rel="stylesheet" href="~/css/owl.carousel.css">
    <link rel="stylesheet" href="~/style.css">
    <link rel="stylesheet" href="~/css/responsive.css">
</head>
<body>

    <div class="header-area">
        <div class="container">
            <div class="row">
                <div class="col-md-8">
                    <div class="user-menu">
                        <ul>
                            @*<li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                            <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>
                            <li><a href="cart.html"><i  class="fa fa-user"> </i> My Cart</a></li>
                            <li><a href="checkout.html"><i class="fa fa-user"></i> Checkout</a></li>
                            <li><a href="#"><i class="fa fa-user"></i> Login</a></li>*@
                            <a asp-controller="Home" asp-action="Index" title=""><i class="fa fa-user"></i>Anasayfa</a>
                            <a class="subscribe-btn" asp-controller="Cart" asp-action="Index" title=""><i class="fa fa-user"></i>Cart</a>
                            <a class="subscribe-btn" asp-controller="CheckOut" asp-action="Index" title=""><i class="fa fa-user"></i>CheckOut</a>
                            

                        </ul>
                    </div>
                </div>

                @*
                @*
                <div class="header-area">
                <div class="container">
                <div class="row">
                <div class="col-md-8">
                <div class="user-menu">
                <ul>
                <li><a href="#"><i class="fa fa-user"></i> My Account</a></li>
                @* <li><a href="#"><i class="fa fa-heart"></i> Wishlist</a></li>*@
                @*<li><a href="cart.html"><i class="fa fa-user"></i> My Cart</a></li>*@
                @*<li><a href="checkout.html"><i class="fa fa-user"></i> Checkout</a></li>*@
                @*  <li><a asp-controller="Home" asp-action="Index" title=""><i class="fa fa-user"></i>Anasayfa</a></li>*@
                @if (string.IsNullOrEmpty(User.Identity.Name))
                    {

                    <a class="subscribe-btn" asp-controller="Account" asp-action="Login" title=""><i class="fa fa-user"></i>User Login </a>
                    <a class="subscribe-btn" asp-controller="Account" asp-action="Register" title=""><i class="fa fa-user"></i>Üye Ol</a>
                }
                else
                {

                    <a class="subscribe-btn" asp-controller="Account" asp-action="Logout" title="">Log Out</a>
                    <div class="profile-desc">
                        <div class="profile-pic">
                            <div class="count-indicator">
                                @*<img class="img-xs rounded-circle " src="~/admindosya/assets/images/faces/face15.jpg" alt="">*@
                                <span class="count bg-success"></span>
                            </div>
                            <div class="profile-name">
                                <h5><i class="fa fa-user"></i> @User.Claims.FirstOrDefault(c => c.Type.EndsWith("emailaddress")).Value</h5>
                            </div>
                        </div>
                        <a href="#" id="profile-dropdown" data-toggle="dropdown"><i class="mdi mdi-dots-vertical"></i></a>
                       
                    </div>
                }

                    @* }
                @if (User.Claims.FirstOrDefault(x => x.Type == "IsAdmin")?.Value == "True")
                {*@
                  


                    @*   <a class="toggle" href="#">
                <span class="user">
                <span class="avatar">
                <img src="@User.Claims.FirstOrDefault(c => c.Type.EndsWith("Image")).Value.ToString()" alt="">
                <span class="status"></span>
                </span>
                <span class="name">@User.Claims.FirstOrDefault(c => c.Type.EndsWith("emailaddress")).Value</span>
                </span>
                </a>*@
                    @* }*@
                    @*
                </ul>
                </div>
                </div>*@


                    <div class="col-md-4">
                        <div class="header-right">
                            <ul class="list-unstyled list-inline">
                                <li class="dropdown dropdown-small">
                                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key"></span><span class="value">USD </span><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">USD</a></li>
                                        @*<li><a href="#">INR</a></li>*@
                                        @*<li><a href="#">GBP</a></li>*@
                                    </ul>
                                </li>

                                <li class="dropdown dropdown-small">
                                    <a data-toggle="dropdown" data-hover="dropdown" class="dropdown-toggle" href="#"><span class="key"></span><span class="value">English </span><b class="caret"></b></a>
                                    <ul class="dropdown-menu">
                                        <li><a href="#">English</a></li>
                                        @*<li><a href="#">French</a></li>
                                    <li><a href="#">German</a></li>*@
                                    </ul>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End header area -->

        <div class="site-branding-area">
            <div class="container">
                <div class="row">
                    <div class="col-sm-6">
                        <div class="logo">
                            <h1><a href="./"><img src="~/img/logo.png"></a></h1>
                        </div>
                    </div>

                    <div class="col-sm-6">
                        <div class="col-sm-6">
                            <div class="shopping-item">
                                <a asp-action="Index" asp-controller="Cart">
                                    Cart -
                                    <span class="cart-amunt">$@cart.CartItems.Sum(x => x.Product.Price1 * x.Quantity)</span>
                                    <a asp-controller="Cart" asp-action="Index" title=""><i </a>
                                    <i class="fa fa-shopping-cart"></i> <span class="product-count">@cart.CartItems.Count</span>
                                </a>
                            </div>
                            @* <div class="shopping-item">
                        <a href="cart.html">Cart - <span class="cart-amunt">$100</span> <i class="fa fa-shopping-cart"></i> <span class="product-count">5</span></a>
                        </div>*@
                        </div>
                    </div>
             
                    <div class="row">
                        <div class="btn-group">
                            <button type="button"  class="btn btn-danger dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                Categories
                            </button>
                            <div class="dropdown-menu">
                                @foreach (var item in categories)
                            {
                                <a class="dropdown-item" asp-controller="Home" asp-action="Index" asp-route-categoryId="@item.Id">@item.Name</a>
                            }

                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End site branding area -->

        

        
        <section class="main-content pb-0">
            <div class="container">
                <div class="row">
                    @* @RenderBody()*@



                    @RenderBody()
                   
                </div>
            </div>
        </section>
        <div class="promo-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo1">
                            <i class="fa fa-refresh"></i>
                            <p>30 Days return</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo2">
                            <i class="fa fa-truck"></i>
                            <p>Free shipping</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo3">
                            <i class="fa fa-lock"></i>
                            <p>Secure payments</p>
                        </div>
                    </div>
                    <div class="col-md-3 col-sm-6">
                        <div class="single-promo promo4">
                            <i class="fa fa-gift"></i>
                            <p>New products</p>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End promo area -->

       

        <div class="brands-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        <div class="brand-wrapper">
                            <div class="brand-list">
                                <img src="~/img/brand1.png" alt="">
                                <img src="~/img/brand2.png" alt="">
                                <img src="~/img/brand3.png" alt="">
                                <img src="~/img/brand4.png" alt="">
                                <img src="~/img/brand5.png" alt="">
                                <img src="~/img/brand6.png" alt="">
                                <img src="~/img/brand1.png" alt="">
                                <img src="~/img/brand2.png" alt="">
                                <img src="~/img/brand2.png" alt="">
                                <img src="~/img/indir (2).jpeg" alt="">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End brands area -->


        <div class="product-widget-area">
            
            @* @RenderBody()*@
        </div> <!-- End product widget area -->

        <div class="footer-top-area">
            <div class="zigzag-bottom"></div>
            <div class="container">
                <div class="row">
                    <div class="col-md-3 col-sm-6">
                        <div class="footer-about-us">
                            <h2><span>Stora</span></h2>
                            <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Perferendis sunt id doloribus vero quam laborum quas alias dolores blanditiis iusto consequatur, modi aliquid eveniet eligendi iure eaque ipsam iste, pariatur omnis sint! Suscipit, debitis, quisquam. Laborum commodi veritatis magni at?</p>
                            <div class="footer-social">
                                <a href="#" target="_blank"><i src="https://www.facebook.com/anil.b.yamaner/"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-twitter"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-youtube"></i></a>
                                <a href="#" target="_blank"><i class="fa fa-linkedin"></i></a>
                            </div>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-menu">
                            <h2 class="footer-wid-title">User Navigation </h2>
                            <ul>
                                <a class="subscribe-btn" asp-controller="Account" asp-action="Register" title=""><i class="fa"></i>Üye Ol</a>
                                <a class="subscribe-btn" asp-controller="CheckOut" asp-action="Index" title=""><i class="fa"></i>CheckOut</a>
                               
                               @* <li asp-controller="CheckOut" asp-action="Index" ><a href="#">My account  </a> </li>
                                <li><a href="#">Order history</a> </li>*@
                              @*  <li><a href="#">Wishlist</a></li>
                                <li><a href="#">Vendor contact</a></li>
                                <li><a href="#">Front page</a></li>*@
                            </ul>
                        </div>
                    </div>

                    <div class="col-md-3 col-sm-6">
                        <div class="footer-newsletter">
                            <h2 class="footer-wid-title">Newsletter</h2>
                            <p>Sign up to our newsletter and get exclusive deals you wont find anywhere else straight to your inbox!</p>
                            <div class="newsletter-form">
                                <form action="#">
                                    <input type="email" placeholder="Type your email">
                                    <input type="submit" value="Subscribe">
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div> <!-- End footer top area -->
        
        <div class="footer-bottom-area">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copyright">
                            <p>&copy; 2023 uCommerce. All Rights Reserved. <a href="" target="_blank">Stora.com</a></p>
                        </div>
                    </div>

                    <div class="col-md-4">
                        <div class="footer-card-icon">
                          
                            <i class="fa fa-cc-visa"></i>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <section class="main-content pb-0">
            <div class="container">
                <div class="row">

                    <div class="col-lg-8">
                        <div class="sidebar">
                            @* Partial View yerine Net Core ile birlikte gelen ViewComponent yapısını kullanıyoruz. *@
                            @* @await Component.InvokeAsync("Category")
                            @await Component.InvokeAsync("Trending")*@
                            @*<vc:category></vc:category>
                            <vc:product></vc:product>
                            <vc:brand></vc:brand>*@
                        </div>
                    </div>
                </div>
            </div>
        </section>


    </div>

    <script src="https://code.jquery.com/jquery.min.js"></script>

    <!-- Bootstrap JS form CDN -->
    <!-- jQuery sticky menu -->
    <script src="~/js/owl.carousel.min.js"></script>
    <script src="~/js/jquery.sticky.js"></script>

    <!-- jQuery easing -->
    <script src="~/js/jquery.easing.1.3.min.js"></script>
    @*<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha3/dist/js/bootstrap.bundle.min.js"></script>*@

    <!-- Main Script -->
    <script src="~/js/main.js"></script>

    <!-- Slider -->
    <script type="text/javascript" src="~/js/bxslider.min.js"></script>
    <script type="text/javascript" src="~/js/script.slider.js"></script>

    <script src="https://cdn.jsdelivr.net/npm/jquery@3.5.1/dist/jquery.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.6.2/dist/js/bootstrap.bundle.min.js" integrity="sha384-Fy6S3B9q64WdZWQUiU+q4/2Lc9npb8tCaSX9FK7E8HnRr0Jz8D6OP9dO5Vg3Q9ct" crossorigin="anonymous"></script>

    @*<script src="~/blog/js/jquery.min.js"></script>
    <script src="~/blog/js/popper.js"></script>
    <script src="~/blog/js/bootstrap.min.js"></script>
    <script src="~/blog/js/lib/slick/slick.js"></script>
    <script src="~/blog/js/script.js"></script>*@
</body>
</html>
