@model List<UserViewModel>

@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}
<div class="content-wrapper">
     <div class="row">
    <div class="col-12 grid-margin">
    <div class="card">
    <div class="card-body">
    <a asp-controller="User" asp-action="Insert" class="btn btn-primary">Yeni Kayıt</a>
    <h3 class="title">List <span>/ Kullanıcılar</span></h3>
    <div class="table-responsive">
    <table class="table table-bordered data-table data-table-default">
    <thead>
    <tr>
    <th>FirstName</th>
     <th>LastName</th>
     <th>Title</th>
     <th>EmailAddress</th>
     <th>Status</th>
     <th>####</th>
    </tr>
    </thead>
    <tbody>
    @foreach (UserViewModel item in Model)
    {
    <tr>
     <td>@item.FirstName</td>
     <td>@item.LastName</td>
     <td>@item.Title</td>
     <td>@item.Email</td>
    <td>
    <a asp-controller="User" asp-action="Activate" asp-route-id="@item.Id" class="btn btn-danger">Activate</a>
    <a asp-controller="User" asp-action="Update" asp-route-id="@item.Id" class="btn btn-success">Update</a>
    <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn btn-primary">Delete</a>
    </td>
    </tr>
    }
    </tbody>
    </table>
    </div>
    </div>
    </div>
    </div>
    </div>
</div>
@*<div class="content-body">
    <div class="row justify-content-between align-items-center mb-10">
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <h3 class="title">List <span>/ User</span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-30">
            <div class="box">
                <div class="box-head">
                    <a asp-controller="User" asp-action="Insert" class="btn btn-primary">Yeni Kayıt</a>
                </div>
                <div class="box-body">
                    <table class="table table-bordered data-table data-table-default">
                        <thead>
                            <tr>
                                <th>FirstName</th>
                                <th>LastName</th>
                                <th>Title</th>
                                <th>EmailAddress</th>
                                <th>Status</th>
                                <th>####</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (UserViewModel item in Model)
                            {
                                <tr>
                                    <td>@item.FirstName</td>
                                    <td>@item.LastName</td>
                                    <td>@item.Title</td>
                                    <td>@item.Email</td>
                                    <td><partial name="PartialViews/_StatusPartial" model="item.Status" /></td>
                                    <td>
                                        <a asp-controller="User" asp-action="Activate" asp-route-id="@item.Id" class="btn">Activate</a>
                                        <a asp-controller="User" asp-action="Update" asp-route-id="@item.Id" class="btn">Update</a>
                                        <a asp-controller="User" asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>*@

@section scripts{
    <script src="~/admin/assets/js/plugins/datatables/datatables.min.js"></script>
    <script src="~/admin/assets/js/plugins/datatables/datatables.active.js"></script>
}