@model List<ProductDetailViewModel>

@{
    ViewData["Title"] = "Ürün Detay Listesi";
    ViewData["Description"] = "123";
    Layout = "~/Areas/Admin/Views/Shared/_AdminLayout.cshtml";
}

<div class="content-body">
    <div class="row justify-content-between align-items-center mb-10">
        <div class="col-12 col-lg-auto mb-20">
            <div class="page-heading">
                <h3 class="title">List <span>/ ProductDetails</span></h3>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-12 mb-30">
            <div class="box">
                <div class="box-head">
                    <a asp-controller="ProductDetail" asp-action="Insert" class="btn btn-primary">Yeni Kayıt</a>
                </div>
                <div class="box-body">
                    <table class="table table-bordered data-table data-table-default">
                        <thead>
                            <tr>
                                <th>Sku</th>
                                <th>Details</th>
                            
                                <th>Status</th>

                                <th>####</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (ProductDetailViewModel item in Model)
                            {
                                <tr>
                                    <td>@item.Sku</td>
                                    <td>@item.Details</td>
                                
                                    <td>@item.Status</td>


                                    <td><partial name="PartialViews/_StatusPartial" model="item.Status" /></td>
                                    <td>
                                        <a asp-controller="ProductDetail" asp-action="Activate" asp-route-id="@item.Id" class="btn">Activate</a>
                                        <a asp-controller="ProductDetail" asp-action="Update" asp-route-id="@item.Id" class="btn">Update</a>
                                        <a asp-controller="ProductDetail" asp-action="Delete" asp-route-id="@item.Id" class="btn">Delete</a>
                                    </td>
                                </tr>
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>

@section scripts{
    <script src="~/admin/assets/js/plugins/datatables/datatables.min.js"></script>
    <script src="~/admin/assets/js/plugins/datatables/datatables.active.js"></script>
}